# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.DS_Store

*.log
*.pot

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
.idea/
venv/
.env
.venv/
.ipynb_checkpoints

archive/*
projects/
bin/
